@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap");

/* 캘린더 위쪽 */

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body,
.viewport,
.container,
.calendar {
  height: 100%;
  width: 100%;
  margin: 0;
}

.Calendar,
thead,
tbody {
  position: relative;
  width: auto;
  height: auto;
}

.momdiv {
  z-index: 0;
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.momdiv2 {
  z-index: 0;
  width: 100vw;
  height: 21vh;
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

#monthmenubar {
  position: relative;
  width: 93vw;
  height: 10vh;
  font-size: calc(2vw + 2vh);
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap; /* 한 줄로 표시 */
  padding-left: 6vw;
  padding-top: 2vh;
}

#YearMonth {
  width: 10vw;
  height: 10vh;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
}

thead > #monthmenubar > td {
  width: auto;
  height: auto;
  white-space: nowrap;
}

#weekday {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 99vw;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  padding-bottom: 0.5vh;
  margin-bottom: 0.5vh;
}

thead > #weekday > td {
  font-size: calc(1vw + 1vh);
  width: 10vw;
  min-height: 3vh;
}

.Calendar > tbody > tr > td > p {
  display: block;
  text-align: center;
  height: auto;
  margin: 0;
  border-radius: 5px;
  font-size: calc(0.75vw + 0.75vh);
}

.Calendar > tbody > tr {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

tbody td {
  position: relative;
  width: 10vw;
  min-height: 9vh;
  height: auto;
  vertical-align: top;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: calc(1vw + 1vh);
}

a {
  color: black;
}

.line {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15.2vh;
  background-color: rgb(48, 47, 47);
  transform: translateY(-50%);
  height: 2px;
  width: 92vw;
  left: 4vw;
  right: 4vw;
}

.Calendar tbody tr:last-child {
  padding-bottom: 1vh;
}

/*지난 일자, 현재 일자, 선택일자 이펙트*/

.pastDay {
  color: lightgray;
}

.today {
  background-color: #eeeded;
  font-weight: bold;
  border-radius: 5px;
  
}

.futureDay.choiceDay,
.today.choiceDay {
  background: #0a174e;
  color: #fff;
}

/* 게이지 박스 */
.progress {
  margin: 2vh;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  margin-bottom: 1vh;
  height: 5vh;
  position: relative;
}

.progressbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 85vw;
  height: 4vh;
  background-color: #FBFFB9;
  border-radius: 8px;
}

.progresspercent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(171,227,255,0.75);
  border-radius: 8px;
}

/* costbox */
.costbox {
  display: flex;
  flex-direction: column;
  width: 85vw;
  text-align: center;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  height: 10vh;
  margin-bottom: 3vh;
}

.expected_cost,
.spent_cost {
  margin-top: 1vh;
  margin-bottom: 1vh;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.expected_color {
  height: 3vh;
  width: 3vh;
  background-color: #FBFFCD;
  border-radius: 7px;
}

.spent_color {
  height: 3vh;
  width: 3vh;
  background-color: rgba(171,227,255,0.75);
  border-radius: 7px;
}

.costbox .span_cost {
  width: 20%;
  text-align: center;
}

.costbox .span {
  width: 40vw;
}

/* 모달 */
.modalbox {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 75vh;
  width: 100vw;
  background-color: #eeeded;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}


.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  background-color: black;
}

.modal {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addEventModal {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventEditModal {
  z-index: 2;
}

.hidden {
  display: none;
}

.hidden2 {
  display: none;
}

.hidden3 {
  display: none;
}

.hidden4 {
  display: none;
}

.hidden5 {
  display: none;
}

.modal_back {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 90vh;
  width: 100vw;
  background-color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal_first_bar {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5vh;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  font-size: calc(1.2vw + 1.2vh);
}


.modal_first_bar button:first-child {
  margin-left: 4vw;
}

.modal_first_bar button:last-child {
  margin-right: 4vw;
}

.modal_back > form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal_first_bar > button {
  all: unset;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  height: auto;
}

.event_modal_content {
  font-size: calc(1.25vw + 1.5vh);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

.modal-date {
  font-size: calc(1.25vw + 1.5vh);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

#modal_newevent_firstbar p {
  font-size: calc(1.25vw + 1.5vh);
  font-weight: 400;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

.title_content,
.startdate,
.expectspend,
.color {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  min-height: 5vh;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}

.startdate label {
  margin-right: 54vw;
}

.startdate > div:first-child {
 margin-bottom: 1.5vh; 
}

#event_title,
#event_cost,
#event_content {
  all: unset;
}


.startdate input {
  all: unset;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  text-align: start;
}

.startdate {
  display: flex;
  width: 90vw;
  margin-left: 8vw;
  margin-right: 2vw;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  color: black;
  align-items: flex-start;
}

#event_cost {
  margin-left: 6vw;
  padding-left: 1vw;
  border-left: 1vw solid #CDFFED;
  width: 93vw;
  font-size: calc(1.2vw + 1.2vh);
}

.expectspend input{
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  display: inline-block;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.6);
  height: 3vh;
}

.modal_back > div:last-child {
  width: 80vw;
  display: flex;
}

.expectspend {
  margin-bottom: 5vh;
}

.startdate input[type="date"]::-webkit-calendar-picker-indicator {
  margin-left: -5vw; 
}

.title_content input[type="date"]::-webkit-calendar-picker-indicator {
  pointer-events: auto;
}

.color{
  display: flex;
  width: 90vw;
  margin-left: 8vw;
  margin-right: 2vw;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  color: black;
  align-items: flex-start;
  vertical-align: center;
}

.color input[type="color" i][list] {
  appearance: auto;
  inline-size: 20vw;
  block-size: 4.2vh;
}

.color label {
  margin-right: 58vw;
}

.color input {
  border: 0;
}

.title_content {
  height: 7vh;
  margin-top: 5vh;
}

.title_content input {
  display: inline-block;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.8);
  height: 4vh;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

#event_title {
  margin-left: 6vw;
  padding-left: 1vw;
  border-left: 1vw solid #CDFFED;
  width: 93vw;
  font-size: calc(1.5vw + 1.5vh);
}

.title_content input::placeholder {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.2);
}

.momdiv2 span {
  font-size: calc(1vw + 1vh);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
}

.momdiv3, .option2, .option1 {
  position: fixed;
  bottom: 23vh;
  right: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  flex-wrap: nowrap;
  flex-direction: row;
}

.momdiv3 button {
  all: unset;
  width: calc(3.5vw + 3.5vh);
  height: calc(3.5vw + 3.5vh);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  font-size: calc(2.5vw + 2.5vh);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2vw;
}

.momdiv3 a {
  all: unset;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logout a, #userguide a {
  font-size: calc(1.1vw + 1.1vh);
}

.momdiv3 #logout {
  width: 17vw;
}

.momdiv3 #userguide {
  width: 33vw;
}

.momdiv3 img {
  width: calc(2.5vw + 2.5vh);
  height: calc(2.5vw + 2.5vh);
  margin-right: 2vw;
}

.userguide {
  height: calc(3.5vw + 3.5vh);
  width: 10vw;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2vw;
}

.hidden6 {
  display: none;
}

.hidden7 {
  display: none;
}

.modalbox > .background {
  top: 0;
  left: 0;
}

.spendFormAndShow {
  width: 100vw;
}

.modal > .modal_back > .event_modal {
  width: 100vw;
}

.event_modal_content > div {
  width: 92vw;
  margin-left: 8vw;
}
