@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap");

/* 캘린더 위쪽 */ 

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body, .viewport, .container, .calendar { 
  height: 100%;
  width: 100%;
  margin: 0;
}

.Calendar, thead, tbody {
  position: relative;
  width: auto;
  height: auto;
  
}

.momdiv {
  z-index: 0;
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.momdiv2 {
  z-index: 0;
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 1 vh;
}

#monthmenubar {
  position: relative;
  width: 93vw;
  height: 10vh;
  font-size: calc(2vw + 2vh);
  font-weight: bold;
  display: flex; 
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap; /* 한 줄로 표시 */
  padding-left: 6vw;
  padding-top: 1vh;
}

#YearMonth {
  width:10vw;
  height: 10vh;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
}

thead > #monthmenubar > td{
  width: auto;
  height: auto;
  white-space: nowrap;
}

#weekday{ 
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 99vw;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  padding-bottom: 0.5vh;
  margin-bottom: 0.5vh;
}

thead > #weekday > td{
  font-size: calc(1.25vw + 1.25vh);
  width: 10vw;
  min-height: 3vh;
}

.Calendar > tbody > tr > td > p {
  display: block;
  text-align: center;
  height: auto;
  margin: 0;
}

.Calendar > tbody > tr {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

#로그아웃 {
  position: absolute;
  top: 0;
  left: 0;
}

tbody td {
  position: relative;
  width: 10vw; 
  min-height: 9vh;
  height: auto;
  vertical-align: top;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: calc(1vw + 1vh);
}

a {
  color: black;
}

.line {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15.2vh;
  background-color: rgb(48, 47, 47);
  transform: translateY(-50%);
  height: 2px;
  width: 92vw;
  left: 4vw;
  right: 4vw;
}

.Calendar tbody tr:last-child {
  padding-bottom: 1vh;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}


/*지난 일자, 현재 일자, 선택일자 이펙트*/

.pastDay {
  color: lightgray;
}

.today {
  background-color: #EEEDED;
  font-weight: bold;
}

.futureDay.choiceDay,
.today.choiceDay {
  background: #0a174e;
  color: #fff;
}

/* 게이지 박스 */
.progress {
  margin: 5%;
  height: 6vh;
  position: relative;
}

.progressbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: beige;
  border-radius: 8px;
}

.progresspercent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: antiquewhite;
  border-radius: 8px;
}

/* costbox */
.costbox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.expected_cost,
.spent_cost {
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-around;
}

.expected_color {
  width: 7%;
  background-color: beige;
  border-radius: 3px;
}

.spent_color {
  width: 7%;
  background-color: antiquewhite;
  border-radius: 3px;
}

.costbox .span_cost {
  width: 20%;
  text-align: center;
  margin-top: 1%;
}

.costbox .span {
  width: 40%;
  text-align: center;
  margin-top: 1%;
}

/* 모달 */
.modalbox {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0%;
  bottom: 0%;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  background-color: black;
}

.modal {
  z-index: 1;
  position: fixed;
  width: 50%;
  height: 30%;
  background-color: rgb(255, 185, 185);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

.hidden {
  display: none;
}

.addEventModal {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden2 {
  display: none;
}

#로그아웃 {
  position: absolute;
  top: 0;
  left: 0;
}

.hidden3 {
  display: none;
}

.hidden4 {
  display: none;
}

.hidden5 {
  display: none;
}

.modal_back {
  position: fixed;
  bottom: 0;
  height: 75vh;
  width: 100vw;
  background-color: #EEEDED;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.addEventModal > .modal_back > form > .modal_first_bar {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5vh;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  font-size: calc(1.2vw + 1.2vh);
}

.modal_first_bar button:first-child {
  margin-left: 4vw;
}

.modal_first_bar button:last-child {
  margin-right: 4vw;
}

.modal_back > form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal_first_bar > button {
  all: unset;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  height: auto;
}

#modal_newevent_firstbar {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: calc(1.5vw + 1.5vh);
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

.title_content, .startdate, .expectspend, .color {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  min-height: 14vh;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 2vh;
  border-radius: 12px;
  border: 1px solid rgba(0,0,0,0.2);
}

.title_content input {
  width: 100%;
  
}

.title_content input::placeholder {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  color: rgba(0,0,0,0.2);
}
