@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap");

/* 기본 설정 시작*/
* {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
}

html {
  height: 100vh;
}

body,
.viewport,
.container,
.calendar {
  height: 100%;
}

table {
  border-spacing: 0px;
}

a {
  color: black;
}

/*기본 설정 끝*/

/*테이블 해드 부분 시작*/
#monthmenubar {
  width: 93vw; height: 10vh;
  font-size: calc(2vw + 2vh); font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 6vw; padding-top: 1vh;
}

thead > #monthmenubar > td {
  width: auto;
  height: auto;
  white-space: nowrap;
}

#weekday {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-weight: 700;
  padding-bottom: 0.5vh; margin-bottom: 0.5vh;
}

thead > #weekday > td {
  font-size: calc(1vw + 1vh);
  width: 10vw;
  min-height: 3vh;
}

.Calendar > tbody > tr > td > div {
  display: block;
  text-align: center;
  /* height: 30%; */
  margin: 0;
  width: 100%;
}

.line {
  position: relative;
  top: 14.5vh;
  background-color: rgb(48, 47, 47);
  height: 2px; width: 92vw;
  left: 4vw; right: 4vw;
}
/*테이블 해드 부분 끝*/

/*테이블 바디 부분 시작*/
.momdiv {
  z-index: 0;
  position: relative;
}

tbody tr {
  display: flex;
  /* justify-content: space-around; */
  width: 100vw;
}

tbody td {
  width: 14.28vw; min-height: 9vh; height: auto;
  vertical-align: top;
  font-size: calc(1vw + 1vh);
  padding: 0px;
}

tbody tr td > div {
  text-align: center;
  height: auto;
  margin: 0;
  /* border-radius: 5px; */
  font-size: calc(0.75vw + 0.75vh);
  margin-bottom: 0.2vh;
}

.Calendar tbody tr:last-child {
  margin-bottom: 1vh;
}
/*테이블 바디 부분 끝*/

/*옵션 부분 시작*/
.momdiv3, .option2, .option1 {
  position: fixed;
  bottom: 23vh;
  right: 5vw;
  display: flex;
}

.momdiv3 button {
  all: unset;
  width: calc(3.5vw + 3.5vh);
  height: calc(3.5vw + 3.5vh);
  font-weight: 900;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  font-size: calc(2.3vw + 2.3vh);
  display: flex;
  justify-content: center;
  margin-left: 2vw;
}

.momdiv3 #logout {
  width: 17vw;
}

.momdiv3 a {
  all: unset;
  display: flex;
  align-items: center;
  font-size: calc(1vw + 1vh);
}

.momdiv3 #userguide {
  width: 33vw;
}

.momdiv3 img {
  width: calc(2.5vw + 2.5vh);
  height: calc(2.5vw + 2.5vh);
  margin-right: 2vw;
}
/*옵션 부분 끝*/

/*지출금액 그래프 부분 시작*/
.momdiv2 {
  z-index: 0;
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.progress {
  margin: 2vh 7.5vw 1vh 7.5vw;
  height: 5vh;
  position: relative;
}

.progressbox {
  position: absolute;
  top: 0; left: 0;
  width: 85vw;
  height: 4vh;
  background-color: #fbffb9;
  border-radius: 8px;
}

.progresspercent {
  position: absolute;
  top: 0; left: 0;
  background-color: rgba(171,227,255,0.75);
  border-radius: 8px;
  height: 4vh;
}

.costbox {
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin: 0vh 7.5vw 3vh 7.5vw;
  height: 10vh;
}

.expected_cost,
.spent_cost {
  margin: 1vh 0vh 1vh 0vh;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.spent_color, .expected_color {
  height: 3vh; width: 3vh;
  border-radius: 7px;
}

.spent_color {
  background-color: rgba(171,227,255,0.75);
}

.expected_color {
  background-color: #FBFFCD;
}

.momdiv2 span {
  font-size: calc(1vw + 1vh);
  letter-spacing: 0px;
}

.costbox .span {
  width: 40vw;
}
/*지출금액 그래프 부분 끝*/

/*지난 일자, 현재 일자, 선택일자 이펙트 시작*/
.pastDay {
  color: lightgray;
}

.today {
  background-color: black;
  color: white;
  border-radius: 5px;
}

.futureDay.choiceDay,
.today.choiceDay {
  background: #0a174e;
  color: #fff;
}
/*지난 일자, 현재 일자, 선택일자 이펙트 끝*/

/* 달력 클릭해서 들어가는 모달 시작 */
.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}

.modal {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; height: 100vh;
}

.modal_back {
  position: fixed;
  left: 0; bottom: 0;
  height: 90vh; width: 100vw;
  background-color: white;
  border-top-left-radius: 16px; border-top-right-radius: 16px;
}

.modal_first_bar {
  display: flex;
  width: 100%;
  height: 5vh;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 16px; border-top-right-radius: 16px;
  font-size: calc(1.2vw + 1.2vh);
}

.modal_first_bar button {
  all: unset;
  font-weight: 500;
  margin: 0vw 4vw 0vw 4vw;
}

.event_modal_content {
  font-size: calc(1.25vw + 1.5vh);
  font-weight: 500;
}

.event_modal_content > div {
  display: flex;
  flex-direction: row;
  width: 92vw;
  margin-left: 8vw;
}

.modal_date_day {
  margin-left: 1vw;
  display: flex;
  flex-direction: row;
}

.addEventBtn_in {
  all: unset;
  width: calc(3.5vw + 3.5vh);
  height: calc(3.5vw + 3.5vh);
  font-weight: 900;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  font-size: calc(2.3vw + 2.3vh);
  display: flex;
  justify-content: center;
  position: fixed;
  right: 6vw;
  bottom: 2.5vh;
}

.modal-day {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.event_modal_content > div {
  margin: 3vh 0vw 0vh 6vw;
}

.event_modal_content a {
  all: unset;
  padding-left: 1vw;
  border-left: 1vw solid rgba(171,227,255,0.75);
}

.doit {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(0,0,0,0.2);
}

.doit p {
  margin-bottom: 1.5vh;
  font-size: calc(1.2vw + 1.2vh);
}

.show_real_spend {
  margin-left: 3vw;
  margin-right: 3vw;
}

.divBoxForZero, .divBox, .show_real_spend {
  margin-top: 10vh;
  
}

.divBoxForZero > div, .divBox > div {
  margin-top: 1vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: calc(1.2vw + 1.2vh);
  width: 94vw;
}

.divBoxForZero span, .divBox span {
  display: flex;
  justify-content: center;
  width: 35vw;
}

.divBoxForZero div span:first-child, .divBox div span:first-child{ 
  margin-left: 8vw;
  padding-right: 5vw;
  border-right: 1px solid rgba(0,0,0,0.3);
}

.divBoxForZero div span:last-child, .divBox div span:last-child{
  margin-right: 8vw;
  padding-left: 5vw;
}

.divBoxForZero div:first-child, .divBox div:first-child{
  padding-bottom: 1vh;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.spend_form {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
}

.real_spend_submit {
  all: unset;
  width: 15vw;
  height: 5vh;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  font-size: calc(1.1vw + 1.1vh);
  display: flex;
  justify-content: center;
  margin-right: 5vw;
  align-items: center;
}

#real_spend {
  width: 69vw;
  margin-right: 1vw;
  height: 5vh;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  font-size: calc(1.1vw + 1.1vh);
  display: flex;
  justify-content: center;
  margin-left: 10vw;
  align-items: center;
}

.divBox a {
  all: unset;
  height: 4vh;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  font-size: calc(1.1vw + 1.1vh);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vh 5vw 0 5vw;
  color: red;
}

.divForCost span:first-child {
  color: blue;
  opacity: 0.8;
}

.divForCost span:last-child {
  color: red;
  opacity: 0.8;
}

/* 달력 클릭해서 들어가는 모달 끝 */

/*hidden 속성 시작*/

.hidden, .hidden2, .hidden3, .hidden4, .hidden5, .hidden6, .hidden7 {
  display: none;
}

/*hidden 속성 끝*/

/* 새로운 일정 추가하기 시작*/

.addEventModal {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
}

.eventEditModal {
  z-index: 3;
}

.title_content,
.startdate,
.expectspend,
.color {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  min-height: 5vh;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}

#event_title,
#event_cost,
#event_content {
  all: unset;
}

.title_content {
  height: 7vh;
  margin-top: 5vh;
}

#event_title {
  margin-left: 6vw;
  padding-left: 1vw;
  border-left: 1vw solid rgba(171,227,255,0.75);
  width: 93vw;
  font-size: calc(1.5vw + 1.5vh);
}

.startdate label {
  margin-right: 50vw;
}

.startdate input {
  all: unset;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  text-align: start;
}

.startdate {
  width: 90vw;
  margin-left: 8vw;
  margin-right: 2vw;
  font-weight: 500;
  color: black;
  align-items: flex-start;
}

.color{
  width: 90vw;
  margin-left: 8vw;
  margin-right: 2vw;
  margin-top: 5vh;
  font-weight: 500;
  color: black;
  align-items: flex-start; 
}

.color > div {
  display: flex;
  align-items: center;
}

.color input[type="color" i][list] {
  appearance: auto;
  inline-size: 20vw;
  block-size: 4.2vh;
}

.color input[type="color" i] {
  background-color: white;
  padding: 0;
}

.color-picker {
  width: 20vw;
  height: 4.2vh;
  border-radius: 8px;
  overflow: hidden;
}

.color label {
  margin-right: 58vw;
}

.color input {
  border: 0;
}

.expectspend {
  margin-bottom: 5vh;
}

#event_cost {
  margin-left: 6vw;
  padding-left: 1vw;
  border-left: 1vw solid rgba(171,227,255,0.75);
  width: 93vw;
  font-size: calc(1.2vw + 1.2vh);
}

.modalbox > .background {
  top: 0;
  left: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

.startdate input[type="date"]::-webkit-calendar-picker-indicator {
  margin-left: -5vw; 
}

.title_content input[type="date"]::-webkit-calendar-picker-indicator {
  pointer-events: auto;
}

.title_content input::placeholder {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.2);
}

#event_memo {
  width: 88vw;
  margin: 0vw 7vw 0vw 6vw;
  padding: 0;
  padding-left: 1vw;
  border: 0;
  border-left: 1vw solid rgba(171,227,255,0.75);
  font-size: calc(1.2vw + 1.2vh);
}
#event_memo:focus {
  outline: none;
}

/* 새로운 일정 추가하기 끝*/

