@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.container {
  max-width: 100%;
  text-align: center;
}

.container img {
  max-width: 75%;
  max-height: 20%;
  margin-bottom: 8%;
}

.navbar__menu__item, .button {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
  position: relative;
  display: inline-block;
  justify-content: center;
  text-decoration: none;
  transition: 0.5s;
  overflow: hidden;
  font-size: calc(1vw + 1vh);
  white-space: nowrap;
  text-overflow: ellipsis;
  display:flex;
  align-items: center;
}

#아이디, #비밀번호  {
  position: relative;
  background-color: #fff;
  border: 2px solid #E3E4ED;
  border-radius : 2px;
  overflow: hidden;
  font-size: calc(1vw + 1vh);
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 8px;
  width: 70vw;
  margin: 5px;
  height: 5vh;
}

#로그인, #회원가입, #뒤로, #signup_회원가입 {
  position: relative;
  overflow: hidden;
  font-size: calc(1vw + 1vh);
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70vw;
  height: 4vh;
  border: 0;
  border-radius: 8px;
  margin-top: 12px;
  font-weight: bold;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#로그인 {
    background-color: #FBFFCD ;
    color: black;
    margin-bottom: 6px;
}

#회원가입 {
    justify-content: center;
    align-items: center;
    background-color: rgba(171, 227, 255, 0.75);
    color: black;
    border-radius: 8px;
    margin-top: 6px;
}

.line {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.line::before,
.line::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 70%;
  max-height: 1px;
  height:50%;
  background-color: #BFB6B6; 
  transform: translateY(-50%);
}

.line span {
  position: relative;
  z-index: 1;
  background-color: white;
  padding: 0 10px;
  color: #BFB6B6;
  transform-origin: left top;
}

.line::before {
    transform-origin: left top;
}

.line::after {
    transform-origin: right top;
}
  
#비밀번호 {
  margin-bottom: 10px;
}

#signup_회원가입 {
  margin-top: 8px;
  border-width: 0px;
  border-radius: 8px;
  background-color: rgba(171, 227, 255, 0.75);
}

#signup_회원가입로고 {
  width: 69vw;
  margin-bottom: 10%;
  margin-left: 1vw;
}

#뒤로 {
  justify-content: center;
  align-items: center;
  background-color: #EEEDED;
  color: black;
  border-radius: 8px;
  margin-top: 6px;
}
