{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'cover.css' %}"/>
{% endblock css %}

{% block container %}
<div class='signup'>
    <form method='POST'>
        <img id="signup_회원가입로고" src="{% static 'chocwallet_signuplogo.png' %}"/>
        {% csrf_token %}
        {% if error %}
        <p>{{error}}</p>
        {% endif %}
        <div class='idpwInput'>
            <input type='text' name='id' id="아이디" placeholder="아이디">
            <input type='text' name='pw' id="비밀번호" placeholder="비밀번호">
        </div>
        <div class='SignBtn'>
            <button type='submit' id="signup_회원가입">회원가입</button>
        </div>
    </form>
</div>
<div class="buttonForFindingAccount">
    <a id="finding">아이디/비밀번호 찾기</a>
</div>
<div class="line">
    <span> 또는 </span>
</div>
<div class="button">
    <a href="{% url 'cover' %}" id="뒤로">뒤로가기</a>
</div>
{% endblock container %}