<!DOCTYPE html>
<html lang="en">
<head>
    {% load account socialaccount %}
    {% providers_media_js %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0"> <!-- 사용자 input 시 확대, 축소 못 하게 -->
    <link rel="stylesheet" type="text/css" href="{% static 'baseStyle.css' %}">
    {% block css %}
    {% endblock css %}
    <title>Document</title>
    <!-- Google tag (gtag.js) -->
    <!--
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QX2K7GTMG0"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-QX2K7GTMG0');
    </script>
    -->
</head>
<body>
    <div class="viewport">
        <div class="container">
            {% block container %}
            {% endblock container %}
        </div>
    </div>
</body>
</html>

<script src="{% static 'js/base.js' %}"></script>