<!DOCTYPE html>
<html lang="en">
<head>
    {% load account socialaccount %}
    {% providers_media_js %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'baseStyle.css' %}">
    {% block css %}
    {% endblock css %}
    <title>Document</title>
</head>
<body>
    <div class="viewport">
        <div class="container">
            {% block container %}
            {% endblock container %}
        </div>
    </div>
</body>
</html>