{% extends 'base.html'%}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'calendar.css' %}">
{% endblock css %}

{% block container %}

{% if user.is_authenticated and user.pk == first_thing.author.pk %}
<div class="momdiv">
    <table class="Calendar">
        <thead>
            <tr id="monthmenubar">
                <td onClick="prevCalendar();" style="cursor:pointer;">&#60;</td>
                <td colspan="5" id="YearMonth">
                    <span id="calYear"></span>년
                    <span id="calMonth"></span>월
                </td>
                <td onClick="nextCalendar();" style="cursor:pointer;">&#62;</td>
            </tr>
            <tr id="weekday">
                <td>일</td>
                <td>월</td>
                <td>화</td>
                <td>수</td>
                <td>목</td>
                <td>금</td>
                <td>토</td>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
</div>
    <script src="{% static 'js/calendar.js' %}"></script> 

    <li>
        <span>이번달 일정 모음</span>
    </li>
    {% for event in events.all %}
    <p>
       <span>{{event.content}}</span>
    </p>
    {% endfor %}
    <li>
        <span>이번 달 예상 지출 금액 : {{expected_cost}}</span>
    </li>

{% else %}
<p>권한 없음</p>
{% endif %}

{% endblock container %}
