{% extends 'base.html'%}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'calendar.css' %}">
{% endblock css %}
{% block container %}
{% if user.is_authenticated and user.pk == first_thing.author.pk %}
<div class="momdiv">
    <div class="calendar">
        <div class="line"></div>
        <table class="Calendar">
            <thead>
                <tr id="monthmenubar">
                    <td colspan="5" id="YearMonth">
                        <span id="calYear"></span>년
                        <span id="calMonth"></span>월
                    </td>
                </tr>
                <tr id="weekday">
                    <td>일</td>
                    <td>월</td>
                    <td>화</td>
                    <td>수</td>
                    <td>목</td>
                    <td>금</td>
                    <td>토</td>
                </tr>
            </thead>
            <tbody class="tt">
            </tbody>
        </table>
    </div>
</div>
<div class="momdiv3">
    <div class="option1 hidden6">
        <button id="logout">
            <a href="{% url 'cover' %}" id="로그아웃">
                로그아웃
            </a>
        </button>        
        <button id="userguide">
            <a href="https://typical-spectacles-572.notion.site/2be0f8cc68d94f98bd93e7ca1568e58e?pvs=4">
                <img src="{% static 'onlylogo.png' %}" alt="only logo"/>사용자 가이드
            </a>
        </button>
        <button class = "eventmenuclose">
            🙉
        </button>
        <button class = "addEventBtn1">
            +
        </button>
    </div>
    <div class="option2">
        <button class = "eventmenuopen">
            🙈
        </button>
        <button class = "addEventBtn2">
            +
        </button>
    </div>
</div>

<div class="momdiv2">    
    <div class="progress">
        <div class="progressbox"></div>
        <div class="progresspercent"></div> 
    </div>
    <div class="costbox">
        <div class="spent_cost">
            <div class="spent_color"></div>
            <span class="span_cost" id="spent_cost">{{sumForRealSpend}} 원</span>
            <span class="span">오늘까지 실제 총 지출 금액</span>
        </div>
        <div class="expected_cost">
            <div class="expected_color"></div>
            <span class="span_cost" id="expected_cost"></span>
            <span class="span">이번 달 총 예상 지출 금액</span>
        </div>
    </div>
</div>


<div class="modalbox hidden">
    <div class="background"></div>
    <div class="modal">
        <div class="modal_back">
            <div class ="modal_first_bar">
                <button type="button" class="close">확인</button>
                <div class="modal_date_day">
                    <p class="modal-date"></p>
                    <span class="modal-day"></span>
                </div>
                <button type="button" class="addEventBtn3" style="color: blue;">추가</button>
            </div>
            <div class="doit">
                <p>할 일</p>
            </div>
            <div class="event_modal_content"></div>
            <div class="show_real_spend"></div>
            <form action="http://127.0.0.1:8000/spend/" method="post" class="spend_form">
                {% csrf_token %}
                <div>
                    <input type="number" name="spend" id="real_spend" placeholder="실제 지출 금액" />
                </div> 
                <div class="hidden3">
                    <input type="number" name="date" value="" id="date_spend"/>
                </div>
                <button type="submit" class="real_spend_submit">
                    입력
                </button>
            </form>
        </div>
    </div>
</div>

<div class="addEventModal hidden2">
    <div class="background"></div>
    <div class="addEventModal">
        <div class="modal_back">
            <form action="" method="post" id="event_form">
                {% csrf_token %}
                <div class ="modal_first_bar">
                    <button type="button" class="close2" style="color: red;">취소</button>
                    <p id="modal_newevent_firstbar">새로운 이벤트</p>
                    <button type="submit">추가</button>
                </div>
                <div class="title_content">
                    <div>
                        <input type="text" name="content" id="event_title" placeholder=" 할 일 "/>
                    </div>
                </div>
                <div class="startdate">
                    <div>
                        <label for="date">시작</label>
                        <input type="date" name="start_date" id="event_date"/>
                    </div>
                    <div>
                        <label for="date">종료</label>
                        <input type="date" name="finish_date" id="event_finish_date"/>
                    </div>
                </div>
                <div class="color">
                    <div>
                        <label for="category">색상</label>
                        <div class="color-picker">
                            <input type="color" name="category" id="event_category" list="colorOptions" value="#ABE3FF">
                            <datalist id="colorOptions">
                                <option>#abe3ff</option>
                                <option>#FFBBB4<x/option>
                                <option>#C4BEFF</option>
                                <option>#FDD3FF</option>
                                <option>#D8FFCD</option>
                                <option>#FFF1D0</option>
                                <option>#FBFFCD</option>
                                <option>#D0E1FF</option>
                                <option>#FFDCD6</option>
                                <option>#bcffe7</option>
                            </datalist>
                        </div>
                    </div>
                </div>
                <div class="expectspend">
                    <input type="number" name="cost" id="event_cost" placeholder="예상 지출 금액" style="color: gray;"/>
                </div>
                <div>
                    <textarea name="memo" id="event_memo" cols="30" rows="10" placeholder="메모"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>

{% else %}
<p>권한 없음</p>
{% endif %}

<script>
    const modalBox = document.querySelector(".modalbox");
    const openBtn = document.querySelector("tbody");
    const closeBtn = document.querySelector(".close");
    
    const events = [
        {% for event in events %}
            {
                start_date: "{{event.start_date}}",
                finish_date: "{{event.finish_date}}",
                detail: "{{event.content}}",
                cost: {{event.cost}},
                category: "{{event.category}}",
            },
        {%endfor%}
        ];
        const realspends = [
        {% for realspend in realSpends %}
            {
                date: "{{realspend.date}}",
                spend: {{realspend.spend}},
            },
        {% endfor %}
    ];

    firstLanding();

    //수정창에서 뒤로가기 누르면 모달창 그대로 떠있게
    function firstLanding() {
        const key = window.localStorage.getItem("modal")

        if (key) {
            const modalDate = document.querySelector(".modal-date");
            modalDate.innerHTML = key
            month_ = key.split("-");
            const modalBox = document.querySelector('.modalbox')
            modalBox.classList.remove("hidden")
            
            makeModal(month_);
        }
    }
    
    //
    function showEvent () {
        const key = window.localStorage.getItem("modal")
        let month_ = ''
        
        if (!key) {
            const month_for_choice = document.querySelector(".modal-date").innerText; //"modal-date" div의 innertext를 가져옴
            const modal_day = document.querySelector(".modal-day").innerText; //모달창의 요일
            month_ = month_for_choice.split('-');  // 하이픈을 기준으로 끊어서 배열로 저장 (["2023","12","23"])

            window.localStorage.setItem("modal", month_for_choice);
            window.localStorage.setItem("modalDay", modal_day);
        } else {
            month_ = key.split("-")

        }
        makeModal(month_)
    }
    

    function makeModal(month_) {
        let events_lists = JSON.parse('{{ events_list|escapejs }}');
        let event_modal_content = document.querySelector('.event_modal_content');
        let expectedCost = 0

        for (let i = 1; i < events.length; i++) {
            let s_year = (new Date (events_lists[i]['start_date'])).getFullYear();
            let f_year = (new Date(events_lists[i]['finish_date'])).getFullYear();
            let s_month = (new Date (events_lists[i]['start_date'])).getMonth()+1; //내가 작성한 일정의 시작 month
            let f_month = (new Date (events_lists[i]['finish_date'])).getMonth()+1;
            let s_day = (new Date (events_lists[i]['start_date'])).getDate(); //내가 작성한 일정의 시작 날짜
            let f_day = (new Date(events_lists[i]['finish_date'])).getDate();

            if (s_year <= Number(month_[0]) && Number(month_[0]) <= f_year ) {
                if (s_month <= Number(month_[1]) && Number(month_[1]) <= f_month ) {
                    if (s_day <= Number(month_[2]) && Number(month_[2]) <= f_day) {
                        let div_ = document.createElement('div'); // modal에 event 이름, 금액, 삭제 버튼 감싸는 div tag
                        let div_2 = document.createElement('div');
                        let span_ = document.createElement('span');
                        let aForEdit = document.createElement('a');

                        span_.innerText = events_lists[i].content;
                        expectedCost += events_lists[i].cost;

                        //이벤트 수정
                        aForEdit.href = "/edit/" + events_lists[i].event_pk + "/";
                        aForEdit.classList.add(`${events_lists[i].event_pk}`);
                        aForEdit.classList.add("aForEdit");

                        aForEdit.appendChild(div_2);
                        div_.appendChild(aForEdit);
                        div_2.appendChild(span_);
                        
                        event_modal_content.appendChild(div_);
                        span_.classList.add("todoEvent");
                    }
                }
            }
        }

        //실제 지출액 칸 누르면 date_spend 에 저절로 날짜 값이 들어가게 (finish_date == list)
        // -> filldate함수를 여기로 옮김
        // const date_for_choice = document.querySelector(".modal-date").innerText; //"modal-date" div의 innertext를 가져옴
        // const date_ = date_for_choice.split("-");
        const date_ = month_;
        const spendYear = date_[0];
        const spendMonth = date_[1].padStart(2, "0");
        const spendDate = date_[2].padStart(2, "0");
        const spend_date = spendYear + spendMonth + spendDate;

        const spendDateInputBox = document.querySelector("#date_spend");
        spendDateInputBox.value = spend_date;
    

        // 모달에 그날의 실제 지출액 보여주기
        // 내가 누른 날짜 받아오기
        const clickyear = Number(month_[0]);
        const clickmonth = Number(month_[1]);
        const clickdt = Number(month_[2]);
        // 실제 지출액 적을 모달
        const show_real_spend = document.querySelector(".show_real_spend");
        let spends_lists = JSON.parse('{{ spends_list|escapejs }}');
        let countSpend = JSON.parse('{{ spendCount|escapejs }}');
    
        for (i = 0; i < countSpend; i++) {
            const str_spenddate = String(spends_lists[i].date);
            // console.log(Number(str_spenddate.substring(0,4)), typeof(Number(str_spenddate.substring(0,4))));

            //해당 날의 실제 지출 금액을 적은 경우
            if (Number(str_spenddate.substring(0,4)) == clickyear && Number(str_spenddate.substring(4,6) == clickmonth && Number(str_spenddate.substring(6,8))) == clickdt) {
            
               
                let divBox = document.createElement('div');
                divBox.classList.add("divBox"); //클래스명
                
                //이벤트 모달에서 금액 이름 부분
                let divForTitle = document.createElement('div');
                divForTitle.classList.add("divForTitle");
                let spanForExpected = document.createElement('span');
                spanForExpected.innerText = "총 예상 지출 금액";
                let spanForSpend = document.createElement('span');
                spanForSpend.innerText = "실제 지출 금액";

                divBox.appendChild(divForTitle);
                divForTitle.appendChild(spanForExpected);
                divForTitle.appendChild(spanForSpend);

                //이벤트 모달에서 금액 부분
                let divForCost = document.createElement('div');
                divForCost.classList.add("divForCost");
                let spanForExpectedCost = document.createElement('span');
                spanForExpectedCost.innerText = (expectedCost).toLocaleString();
                let spanForSpendCost = document.createElement('span');

                //실제 지출 금액
                let spendInInt = (spends_lists[i].spend).toLocaleString();
                //console.log(spendInInt, typeof(spendInInt));
                spanForSpendCost.innerText = spendInInt;

                divBox.appendChild(divForCost);
                divForCost.appendChild(spanForExpectedCost);
                divForCost.appendChild(spanForSpendCost);

                //실제 지출 금액 삭제 버튼
                let aForSpendEdit = document.createElement('a');
                aForSpendEdit.innerText = '실제 지출 금액 수정/삭제';
                aForSpendEdit.href = "/delete-spend/" + spends_lists[i].spend_pk + "/";
                divBox.appendChild(aForSpendEdit);
                
                show_real_spend.appendChild(divBox);
                
                //실제지출액 작성 폼 없애기
                const spendForm = document.querySelector(".spend_form");
                spendForm.classList.add("hidden4");

                 //divBoxForZero 없애기
                 (document.querySelector(".divBoxForZero")).classList.add("hidden");

            }

            //실제지출금액을 적지 않은 경우
            else {
                const divBoxForZero = document.querySelector(".divBoxForZero");

                if (!divBoxForZero) { //div가 여러번 생기는 걸 방지하기 위함
                    let divBox = document.createElement('div');
                    divBox.classList.add("divBoxForZero"); //위 코드에서 div class명만 바꿈
                    
                    //이벤트 모달에서 금액 이름 부분
                    let divForTitle = document.createElement('div');
                    divForTitle.classList.add("divForTitle");
                    let spanForExpected = document.createElement('span');
                    spanForExpected.innerText = "총 예상 지출 금액";
                    let spanForSpend = document.createElement('span');
                    spanForSpend.innerText = "실제 지출 금액";

                    divBox.appendChild(divForTitle);
                    divForTitle.appendChild(spanForExpected);
                    divForTitle.appendChild(spanForSpend);

                    //이벤트 모달에서 금액 부분
                    let divForCost = document.createElement('div');
                    divForCost.classList.add("divForCost");
                    let spanForExpectedCost = document.createElement('span');
                    spanForExpectedCost.innerText = (expectedCost).toLocaleString();
                    let spanForSpendCost = document.createElement('span');

                    //실제 지출 금액을 0으로 표시
                    let spendInInt = 0;
                    //console.log(spendInInt, typeof(spendInInt));
                    spanForSpendCost.innerText = spendInInt;

                    divBox.appendChild(divForCost);
                    divForCost.appendChild(spanForExpectedCost);
                    divForCost.appendChild(spanForSpendCost);
                    
                    show_real_spend.appendChild(divBox);
                }
            }
        }
    }

    const menu1 = document.querySelector('.eventmenuopen');
    const menu2 = document.querySelector('.eventmenuclose');
    const option1 = document.querySelector('.option1');
    const option2 = document.querySelector('.option2');
    
    
    menu1.addEventListener('click', function() {
        option1.classList.remove('hidden6');
        option2.classList.add('hidden7');
    });

    menu2.addEventListener('click', function() {
        option2.classList.remove('hidden7');
        option1.classList.add('hidden6');
    });

    const dateInput = document.getElementById('event_date');
    
    dateInput.addEventListener('click', () => {
      dateInput.focus();
    });

    const eventCategoryInput = document.getElementById('event_category');
    const eventTitleInput = document.getElementById('event_title');
    const eventCost = document.getElementById('event_cost');
    const eventMemo = document.getElementById('event_memo');

    eventCategoryInput.addEventListener("input", function () {
        const selectedColor = eventCategoryInput.value;
        Input.style.borderLeftColor = selectedColor;
        eventCost.style.borderLeftColor = selectedColor;
        eventMemo.style.borderLeftColor = selectedColor;
    });

</script>
<script src="{% static 'js/calendar.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/touchMove.js' %}"></script>
{% endblock container %}