{% extends 'base.html'%}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'calendar.css' %}">
{% endblock css %}

{% block container %}

{% if user.is_authenticated and user.pk == first_thing.author.pk %}
<div class="momdiv">
    <table class="Calendar">
        <thead>
            <tr id="monthmenubar">
                <td onClick="prevCalendar();" style="cursor:pointer;">&#60;</td>
                <td colspan="5" id="YearMonth">
                    <span id="calYear"></span>년
                    <span id="calMonth"></span>월
                </td>
                <td onClick="nextCalendar();" style="cursor:pointer;">&#62;</td>
            </tr>
            <tr id="weekday">
                <td>일</td>
                <td>월</td>
                <td>화</td>
                <td>수</td>
                <td>목</td>
                <td>금</td>
                <td>토</td>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
</div>

<div class="modal hidden">
    <div class="event_modal_content">
        <button class = "addEvent">
            일정 추가하기
        </button>
        <button class="close">
            X
        </button>
    </div>
</div>

<div class="addEventModal hidden2">
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <label for="content">내용</label>
            <input type="text" name="content" id="event_content" placeholder="이벤트를 입력해주세요"/>
        </div>
        <div>
            <label for="cost">금액</label>
            <input type="number" name="cost" id="event_cost" placeholder="예상 지출 금액을 입력해주세요"/>
        </div>
        <button type="submit" class="close2">
            작성하기
        </button>
    </form>
</div>

    <li>
        <span>이번달 일정 모음</span>
    </li>
    {% for event in events.all %}
    <p>
       <span>{{event.content}}</span>
    </p>
    {% endfor %}
    <li>
        <span>이번 달 예상 지출 금액 : {{expected_cost}}</span>
    </li>

{% else %}
<p>권한 없음</p>
{% endif %}

<script src="{% static 'js/calendar.js' %}"></script> 

<script src="{% static 'js/reserve.js' %}"></script>

<script>
    const events = [
    {% for event in events %}
        {
            date: "{{event.date}}",
            detail: "{{event.content}}",
            cost: {{event.cost}},
        },
    {%endfor%}
  ];

    const modal = document.querySelector(".modal");
    const closeBtn = document.querySelector(".close");

    events.forEach(function(idx){
        idx.date = new Date(idx.date)
        console.log(idx);
    });
  
    window.onload = function () { buildCalendar(); }    // 웹 페이지가 로드되면 buildCalendar 실행

    let nowMonth = new Date();  // 현재 달을 페이지를 로드한 날의 달로 초기화
    let today = new Date();     // 페이지를 로드한 날짜를 저장
    today.setHours(0, 0, 0, 0);    // 비교 편의를 위해 today의 시간을 초기화

    // 달력 생성 : 해당 달에 맞춰 테이블을 만들고, 날짜를 채워 넣는다.
    function buildCalendar() {
        let firstDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth(), 1);     // 이번달 1일
        let lastDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1, 0);  // 이번달 마지막날

        let tbody_Calendar = document.querySelector(".Calendar > tbody");
        document.getElementById("calYear").innerText = nowMonth.getFullYear();             // 연도 숫자 갱신
        document.getElementById("calMonth").innerText = leftPad(nowMonth.getMonth() + 1);  // 월 숫자 갱신

        //현재 달력 연 월 정보
        const month = nowMonth.getMonth();
        console.log(month);
        const year = nowMonth.getFullYear();
        console.log(year);

        //현재 연 월 해당하는 이벤트만 넣기
        const currentMonth = [];
        if (events.length != 0){
            for (let j = 0;  j < events.length; j++){
                console.log(events[j]['date'].getMonth());
                if (events[j]['date'].getMonth() === month && events[j]['date'].getFullYear() == year) {
                    console.log(events[j]);
                    currentMonth.push(events[j]);
                };

            }
        }
        

        while (tbody_Calendar.rows.length > 0) {                        // 이전 출력결과가 남아있는 경우 초기화
            tbody_Calendar.deleteRow(tbody_Calendar.rows.length - 1);
        }

        let nowRow = tbody_Calendar.insertRow();        // 첫번째 행 추가           

        for (let j = 0; j < firstDate.getDay(); j++) {  // 이번달 1일의 요일만큼
            let nowColumn = nowRow.insertCell();        // 열 추가
        }

        for (let nowDay = firstDate; nowDay <= lastDate; nowDay.setDate(nowDay.getDate() + 1)) {   // day는 날짜를 저장하는 변수, 이번달 마지막날까지 증가시키며 반복  

            let nowColumn = nowRow.insertCell();        // 새 열을 추가하고


            let newDIV = document.createElement("p");
            newDIV.innerHTML = leftPad(nowDay.getDate());        // 추가한 열에 날짜 입력
            nowColumn.appendChild(newDIV);

            if (currentMonth.length > 0) {
                for (let k = 0; k < currentMonth.length; k++) {
                    if (currentMonth[k].date.getDate() == nowDay.getDate()){
                        let newEvent = document.createElement("p");
                        newEvent.innerHTML = currentMonth[k].detail;
                        nowColumn.appendChild(newEvent);
                    }
                }
            }

            if (nowDay.getDay() == 6) {                 // 토요일인 경우
                nowRow = tbody_Calendar.insertRow();    // 새로운 행 추가
            }

            if (nowDay < today) {                       // 지난날인 경우
                newDIV.className = "pastDay";
                newDIV.onclick = function(){openModal();}
            }
            else if (nowDay.getFullYear() == today.getFullYear() && nowDay.getMonth() == today.getMonth() && nowDay.getDate() == today.getDate()) { // 오늘인 경우           
                newDIV.className = "today";
                //newDIV.onclick = function () { choiceDate(this); }
                newDIV.onclick = function(){openModal();}
            }
            else {                                      // 미래인 경우
                newDIV.className = "futureDay";
                //newDIV.onclick = function () { choiceDate(this); }
                newDIV.onclick = function(){openModal();}
            }
        }
    }

    // 날짜 선택
    function choiceDate(newDIV) {
        if (document.getElementsByClassName("choiceDay")[0]) {                              // 기존에 선택한 날짜가 있으면
            document.getElementsByClassName("choiceDay")[0].classList.remove("choiceDay");  // 해당 날짜의 "choiceDay" class 제거
        }
        newDIV.classList.add("choiceDay");           // 선택된 날짜에 "choiceDay" class 추가
    }



    // 이전달 버튼 클릭
    function prevCalendar() {
        nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() - 1, nowMonth.getDate());   // 현재 달을 1 감소
        buildCalendar();    // 달력 다시 생성
    }
    // 다음달 버튼 클릭
    function nextCalendar() {
        nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1, nowMonth.getDate());   // 현재 달을 1 증가
        buildCalendar();    // 달력 다시 생성
    }

    // input값이 한자리 숫자인 경우 앞에 '0' 붙혀주는 함수
    function leftPad(value) {
        if (value < 10) {
            value = "0" + value;
            return value;
        }
        return value;
    }


    function openModal() {
         modal.classList.remove("hidden");

    }
      
    function closeModal() {
        modal.classList.add("hidden");
    }
    closeBtn.addEventListener("click", closeModal);
</script>
{% endblock container %}
