{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'baseStyle.css' %}">
{% endblock css %}

{% block container %}
    {% if user.is_authenticated %}
    <span class="navbar__menu__item">안녕하세요, {{user.username}}님</span>
    <a href="{% url 'logout' %}">로그아웃</a>
    {% else %}
    <a href="{% url 'login' %}" >로그인하러 가기</a>
    <a href="{% url 'signup' %}">회원가입하러 가기</a>
    {% endif %}
    <img src = "{% static 'chocwallet_logo.png' %}"/>
{% endblock container %}