{% extends 'base.html' %}

{% block css %}
{% load static %}
{% load account socialaccount %}
{% providers_media_js %}
<link rel="stylesheet" type="text/css" href="{% static 'cover.css' %}">
{% endblock css %}

{% block container %}
    <img src="{% static 'chocwallet_logo.png' %}"/>
    <div class="button-container">
        <div class='login'>
            <form method='POST'>
                {% csrf_token %}
                {% if error %}
                <p>{{error}}</p>
                {% endif %}
                <div class='idpwInput'>
                    <input class="id" type='text' name='id' id="아이디" placeholder="아이디">
                    <input class="passward" type='text' name='pw' id="비밀번호" placeholder="비밀번호">
                </div>
                <div class='loginBtn'>
                    <button type='submit' id="로그인">로그인</button>
                </div>
                <div class="line">
                    <span> 또는 </span>
                </div>
            </form>
        </div>
        <div class="button">
            <a href="{% url 'signup' %}" id="회원가입">회원가입하러 가기</a>
        </div>
    </div>
    <script>
        //로그인 유지
        const loginBtn = document.querySelector(".loginBtn");
        
        loginBtn.addEventListener("click", ()=> {
            const id_ = document.querySelector(".id").value;
            const passward_ = document.querySelector(".passward").value;
            console.log(id_, passward_)
            window.localStorage.setItem("id", id_);
            window.localStorage.setItem("passward", passward_);

        })
    
        window.onload = function () {        
            const idkey = window.localStorage.getItem("id");
            const passwardkey = window.localStorage.getItem("passward");
            console.log(idkey,"랑", passwardkey)
            if (idkey) {
                document.querySelector(".id").value = idkey;
                document.querySelector(".passward").value = passwardkey;
            }
        }
    </script>
{% endblock container %}
