{% extends 'base.html' %}

{% block css %}
{% load static %}
{% load account socialaccount %}
{% providers_media_js %}
<link rel="stylesheet" type="text/css" href="{% static 'cover.css' %}">
{% endblock css %}

{% block container %}
    <img src="{% static 'chocwallet_logo.png' %}"/>
    {% if user.is_authenticated %}
    <span class="navbar__menu__item">안녕하세요, {{user.username}}님</span>
    <div class="button-container">
        <div class="button">
            <a href="{% url 'logout' %}">로그아웃</a>
        </div>
    </div>

    <a href="{% url 'calendar' user.pk %}">캘린더</a>
    {% else %}
    <div class="button-container">
        <div class='login'>
            <form method='POST'>
                {% csrf_token %}
                {% if error %}
                <p>{{error}}</p>
                {% endif %}
                <div class='idpwInput'>
                    <input type='text' name='id' id="아이디" placeholder="아이디">
                    <input type='text' name='pw' id="비밀번호" placeholder="비밀번호">
                </div>
                <div class='loginBtn'>
                    <button type='submit' id="로그인">로그인</button>
                </div>
                <div class="line">
                    <span> 또는 </span>
                </div>
                <li class="navbar__menu__item">
                    <a href="{% provider_login_url 'kakao' %}" id="카카오로그인">카카오 로그인</a>
                </li>
            </form>
        </div>
        <div class="button">
            <a href="{% url 'signup' %}" id="회원가입">회원가입</a>
        </div>
    </div>
    {% endif %}
{% endblock container %}
