{% extends 'base.html' %}

{% block css %}
{% load static %}
{% load account socialaccount %}
{% providers_media_js %}
<link rel="stylesheet" type="text/css" href="{% static 'edit.css' %}">
{% endblock css %}

{% block container %}
    <!-- 이벤트 수정 -->
    <div class="background"></div>
    <div class="eventEdit">
        <div class="modal_back">
            <form action="" method="post">
                {% csrf_token %}
                <div class ="modal_first_bar">
                    <button onclick="goBack()" >뒤로</button>

                    <button type="submit" style="color:blue;">수정</button>
                </div> 
                <div class="title_content">
                    <div>
                        <input type="text" name="content" id="event_content_update" value="" placeholder="할 일"/>
                    </div>
                </div>
                <div class="startdate">
                    <div>
                        <label for="date">시작</label>
                        <input type="date" name="start_date" id="event_date_update"/>
                    </div>
                    <div>
                        <label for="date">종료</label>
                        <input type="date" name="finish_date" id="event_finish_date_update"/>
                    </div>
                </div>
                <div class="color">
                    <div>
                        <label for="category">색상</label>
                        <div class="color-picker">
                            <input type="color" name="category" id="event_category_update" list="colorOptions">
                            <datalist id="colorOptions">
                                <option>#abe3ff</option>
                                <option>#FFBBB4<x/option>
                                <option>#C4BEFF</option>
                                <option>#FDD3FF</option>
                                <option>#D8FFCD</option>
                                <option>#FFF1D0</option>
                                <option>#FBFFCD</option>
                                <option>#D0E1FF</option>
                                <option>#FFDCD6</option>
                                <option>#bcffe7</option>
                            </datalist>
                        </div>
                    </div> 
                </div>
                <div class="expectspend">
                    <input type="number" name="cost" id="event_cost_update" value="" placeholder="예상 지출 금액"/>
                </div>
                <div>
                    <textarea name="memo" id="event_memo_update" cols="30" rows="10" placeholder="메모"></textarea>
                </div>
            </form>
            <p id="delete">이벤트 삭제</p>
        </div>
    </div> 

    <div class="modal_deletebox hidden8">
        <div class="delete_background">
        <div class="delete_modal_back">
            <div class="modaldelete_content">
                <p>정말로 삭제하시겠습니까?</p>
                <div class="modaldelete_buttons">
                    <button class="modaldelete_cancel" style="color:blue;">취소</button>
                    <a class="modaldelete_confirm" href="{% url 'delete_event' event.pk %}" style="color:red;">삭제</a>
                </div>
            </div>
        </div>
        </div>
    </div>

<script>
//날짜, 내용, 금액 칸에 원래 value 들어가게 하기
    window.onload = function() {
        let events_lists_ = JSON.parse('{{ event_list|escapejs }}');
        
        //시작 날짜 집어넣기
        let yymmdd_start = events_lists_[0].start_date
        let yyyy_s = "20" + yymmdd_start.substr(0, 2);
        let mm_s = yymmdd_start.substr(2, 2);
        let dd_s = yymmdd_start.substr(4, 2);
        let yyyy_mm_dd_s = `${yyyy_s}-${mm_s}-${dd_s}`;

        document.querySelector("#event_date_update").value = yyyy_mm_dd_s;

        //끝 날짜 집어넣기
        let yymmdd_finish = events_lists_[0].finish_date
        let yyyy_f = "20" + yymmdd_finish.substr(0, 2);
        let mm_f = yymmdd_finish.substr(2, 2);
        let dd_f = yymmdd_finish.substr(4, 2);
        let yyyy_mm_dd_f = `${yyyy_f}-${mm_f}-${dd_f}`;

        document.querySelector("#event_finish_date_update").value = yyyy_mm_dd_f;

        //내용, 금액, 카테고리 색상
        document.querySelector("#event_content_update").value = events_lists_[0].content;
        document.querySelector("#event_cost_update").value = events_lists_[0].cost;
        document.querySelector("#event_category_update").value = events_lists_[0].category;
        document.querySelector("#event_memo_update").value = events_lists_[0].memo;
    }

    const deletebox = document.querySelector(".modal_deletebox");
    const cancelbtn = document.querySelector(".modaldelete_cancel");
    const deleted = document.getElementById("delete");

    function open_deletemodal() {
        deletebox.classList.remove("hidden8");
    }

    function close_deletemodal() {
        deletebox.classList.add("hidden8");
    }
    
    deleted.addEventListener("click", open_deletemodal);
    cancelbtn.addEventListener("click", close_deletemodal);

</script>

{% endblock container %}